# append - Êï∞ÊçÆÊ∑ªÂä†

Âú®ÂæàÂ§öÊïôÁ®ãÔºåÂåÖÊã¨ [pandas ÂÆòÊñπÊñáÊ°£](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#appending-rows-to-a-dataframe)‰∏≠ÔºåÈÉΩÂ∞Ü `append` ÁªìÂêà `merge„ÄÅconcat„ÄÅjoin` ‰∏ÄËµ∑ËÆ≤Ëß£

‰ΩÜÊòØÂØπÊàëÊù•ËØ¥ÔºåËôΩÁÑ∂appendÂæóÂà∞ÁöÑÁªìÊûú‰πüÁ±ª‰ººÂêàÂπ∂ÔºåÂèØÂÆÉÂ∏∏Â∏∏Âá∫Áé∞ÁöÑÂú∞ÊñπÂ∞±ÊòØÂÆÉÁöÑÂ≠óÈù¢ÊÑèÊÄù -> Ê∑ªÂä†ÔºàËøΩÂä†ÔºâÔºå‰∏ãÈù¢ÊòØÂá†‰∏™ append ÁöÑÂ∏∏Áî®Êìç‰Ωú„ÄÇ

```{admonition} Âú®Á∫øÂà∑È¢ò
:class: seealso

Ê£ÄÊü• or Âº∫Âåñ `Pandas` Êï∞ÊçÆÂàÜÊûêÊìç‰ΩúÔºü<a href="https://www.heywhale.com/mw/project/6146c0318447b8001769ff20" target="_blank">üëâÂú®Á∫ø‰ΩìÈ™å„ÄåPandasËøõÈò∂‰øÆÁÇº300È¢ò„Äç</a>
```

```{note} 
Êú¨È°µÈù¢‰ª£Á†ÅÂèØ‰ª•[Âú®Á∫øÁºñËæë„ÄÅÊâßË°å](../ÊåáÂºï/Âú®Á∫øÊâßË°å.md)ÔºÅ

## Êú´Â∞æËøΩÂä†

Â∞Ü s2 Ê∑ªÂä†Ëá≥ df8 ÁöÑÊú´Â∞æ

![](https://pandas.pydata.org/pandas-docs/stable/_images/merging_append_series_as_row.png)

In [1]:
import pandas as pd
df8 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)

s2 = pd.Series(["X0", "X1", "X2", "X3"], index=["A", "B", "C", "D"])
s3 = pd.DataFrame({"A": ['s1'],"B": ['s2'],"C": ['s3'],"D": ['s4']})
dicts = [{"A": 1, "B": 2, "C": 3, "X": 4}, {"A": 5, "B": 6, "C": 7, "Y": 8}]

In [2]:
result = df8.append(s2, ignore_index=True)
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  X0  X1  X2  X3

## ÊåáÂÆö‰ΩçÁΩÆËøΩÂä†

Â∞Ü s3 Ê∑ªÂä†Ëá≥ df8 ÁöÑÁ¨¨‰∏âË°å

In [3]:
df9 = df8.iloc[:2, :]
df10 = df8.iloc[2:, :]

pd.concat([df9, s3, df10])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
0  s1  s2  s3  s4
2  A2  B2  C2  D2
3  A3  B3  C3  D3

## Ê∑ªÂä†Â≠óÂÖ∏

Â∞Ü‰∏ãÈù¢ÁöÑÂ≠óÂÖ∏ dicts ÊèíÂÖ•Ê∑ªÂä†Ëá≥ df8ÔºåÂπ∂‰øùÁïôÁ¥¢ÂºïÔºåÂ¶Ç‰∏ãÂõæÊâÄÁ§∫

![](https://pandas.pydata.org/pandas-docs/stable/_images/merging_append_dits.png)

In [4]:
result = df8.append(dicts, ignore_index=True, sort=False)
result

    A   B   C    D    X    Y
0  A0  B0  C0   D0  NaN  NaN
1  A1  B1  C1   D1  NaN  NaN
2  A2  B2  C2   D2  NaN  NaN
3  A3  B3  C3   D3  NaN  NaN
4   1   2   3  NaN  4.0  NaN
5   5   6   7  NaN  NaN  8.0